<% provide(:title, 'All Users') %>
<% provide(:button_text, '編集する') %>
<h1>出勤中社員一覧</h1>

<div class="col-md-10 col-md-offset-1">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-condensed table-hover" id="table-users">
        <% @users.each do |user| %>
        <% @user = user %>
        <!-- @userを定義 userを受け取る-->
          <tr>
            <td><%= user.name %></br>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</div>